<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>
                    Name
                </mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>
                    E-mail
                </mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>
                    City
                </mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>
                    Contact Number
                </mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Back</button>
    <button mat-button mat-dialog-close>Save</button>
</mat-dialog-actions>
