<div class="center">
    <div class="row animate__animated animate__pulse animate__infinite">
        <div class="col-md-12 text-center">
            <img src="img/mawhob-img.png" alt="mawhob-img">

        </div>

    </div>
    <div class="row mt-5 animate__animated animate__fadeInUp">
        <div class="col-md-12 text-center">
            <h1 class="logo-name">
                <img src="img/SVG/icon-football.svg" alt="icon-football">
                Mawhoob
            </h1>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-lg" (click)="onNavigateToSignIn()">
                Login
            </button>
        </div>

        <div class="col-md-12 text-center mt-4">
            <a routerLink="/sign-up/player">New Player Account</a>
        </div>

        <div class="col-md-12 text-center mt-4">
            <a routerLink="/sign-up/entity">New Entities Account</a>
        </div>
    </div>
</div>