<h2 mat-dialog-title>Statistics</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <h6>
                <b>
                    Speed
                </b>
            </h6>
         <div class="row">
             <div class="col-md-10">
                 <div class="progress">
                     <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                 </div>
             </div>
             <div class="col-md-2">
                 75%
             </div>
         </div>
        </div>

        <div class="col-md-12 mt-3">
            <h6>
                <b>
                    Passing
                </b>
            </h6>
            <div class="row">
                <div class="col-md-10">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    100%
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <h6>
                <b>
                    Shooting
                </b>
            </h6>
            <div class="row">
                <div class="col-md-10">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                             aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    30%
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <h6>
                <b>
                    Dribbling
                </b>
            </h6>
            <div class="row">
                <div class="col-md-10">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary" role="progressbar"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    25%
                </div>
            </div>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Back</button>
</mat-dialog-actions>
