.h-25vh {
  height: 25vh;
}

.bg-gray {
  background: #f0f0f0 !important;
  height: 75vh !important;
}

a {
  color: #E5E7EB
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #f0f0f0;
  --bs-nav-link-hover-color: #f0f0f0;
  --bs-nav-link-disabled-color: #f0f0f0;
  list-style: none;
}