<div style="position: relative; height: 25vh;" class="animate__animated animate__fadeInDown">
    <!-- Background image -->
    <img src="img/bg.png" class="w-100 h-100" alt="bg"
         style="position: absolute; top: 0; left: 0; z-index: 0; object-fit: cover;">

    <!-- Navbar on top -->
    <div style="position: relative; z-index: 1;">
        <ul class="nav float-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Upload</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Hi Sanaa !</a>
            </li>
        </ul>
    </div>
</div>

<div class="bg-gray">
    <router-outlet/>
</div>